header
	.container.dFlex
		.brandLogo
			| Shojeesh
		.mainNav
			.git
				a(href='https://github.com/Shojeesh/Portfolio' target='_blank')
					img(src='images/git.png' alt='')
			.burgerBlock
				.burger
					.bLayer.left
					.bLayer.center
					.bLayer.right