

footer
	width 100%
	margin-top auto
	padding 1rem 0
.socialIcons
	margin 35px auto
	display flex
	align-items center
	justify-content center
.sIcon
	width 35px
	height 35px
	border-radius 50%
	border solid 1px #101832
	display flex
	align-items center
	justify-content center
	&+.sIcon
		margin-left 10px